theme = #eb4924
rblue = #42a5f5
lblue = #11c3fe
llblue = #11c3fe
llorange = #E74C3C
dorange = #fb8c00
llgreen = #58D68D
lllgreen = #dede
llyellow = #F4D03F
llpink = #f94877
lbrown = #8d6e63
hotheme = #6A1B9A
hotheme1 = #7e57c2
hotheme2 = #9575cd

odinn = #4DD0E1
heida = #4DB6AC
icons = #90A4AE
footer = #37474F
recipe = #26A69A
ryellow = #FFF176
lpurple = #C5CAE9
llpurple = #7E57C2
dbrunn = #5D4037
brunn = #6D4C41
lbrunn = #8D6E63

vhlid = #9FD919

lgray = #757575
rdark = #424242
dark = #302B2B
dark2 = #424242
silver = #D5DBDB
dsilver = #BFC9CA

fb = #3b5999
tw = #55acee
fs = #f94877
su = #eb4924
ig = #9b6954