per()
 font-family: 'Permanent Marker', cursive;

osc()
 font-family 'Gothic A1', sans-serif
 font-weight 300 !important

roboto()
 font-family Roboto,sans-serif !important

goth()
 font-family 'Gothic A1', sans-serif