// parallax mixins
paratext()
 position absolute
 bottom 0
 color white !important
 goth()
 font-size 40px
 font-weight 100
 width 100%
 border 1px solid rgba(white .4)
 padding 20px


// color mixins
.lblue {
 color #11c3fe !important
}
.white {
 color white
}

box()
 -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.51);
 -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.51);
 box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.51);


box1()
 -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.51);
 -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.51);
 box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.51);

orangebak() {
 background rgba(236,33,39,.1) !important  
}
orangecolor() {
 background rgba(236,33,39,.1) !important   
}

+below()
 @media (max-width: 768px) {
}

+above()
 @media (min-width: 768px) {
}        