.fundartal {

.v-data-table {

.v-data-table__wrapper {

table {

thead.v-data-table-header {

tr {

th {

}// th

}// tr

}// thead.v-data-table-header

tbody {

tr {

td {
 font-size 14px    

span.atridi {

}// span.atridi

span.date {
 background llpurple
 color white
 font-size 13px
 padding-left 2px
 padding-right 2px

@media only screen and (max-width: 414px) {
 margin-right -1px

}// below 414px

}// span.date

span.month {
 background gray
 color white
 font-size 13px
 text-transform uppercase
 padding-left 2px
 padding-right 2px
 margin-left -3px 
}// span.month

span.dag {
 background dark
 color white
 font-size 13px
 text-transform uppercase
 padding-left 2px
 padding-right 2px
 margin-left -3px

@media only screen and (max-width: 414px) {
 margin-left -4px

}// below 414px

}// span.dag

span.time {
 background llpurple
 color white
 font-size 13px
 margin-left -3px

@media only screen and (max-width: 414px) {
 margin-left -4px

}// below 414px

}// span.time

}// td

.uk-grid-small {

span {

&.vinna {
 background llpurple
 color white
 padding-left 2px
 padding-right 2px
}// &.vinna

&.skoli {
 background su
 color white
 padding-left 2px
 padding-right 2px
}// &.skoli

&.afingar {
 background llgreen
 color white
 padding-left 2px
 padding-right 2px
}// &.afingar

&.sundlaug {
 background lpurple
 color dark
 padding-left 2px
 padding-right 2px
}// &.sundlaug

}// span

}// .uk-grid-small

}// tr.footer

tr {

td {

i.v-icon {
 font-size 16px
}// i.v-icon

}// td

}// tr

tr.v-data-table__expanded {

td {
 font-size 14px
}// td

}// tr.v-data-table__expanded

}// tbody

}// table

}// .v-data-table__wrapper

}// .v-data-table

}// .fundartal