.header {
 margin-top 10px
//sidemenu

article.uk-comment {

header.uk-comment-header {

.uk-width-auto {

img {

}// img

}// .uk-width-auto

.uk-width-expand {

h4 {
 color heida
 font-size 16px

span {

svg {
 color dark
 width 14px
 margin-top -5px
}// svg

}// span

}// h4

ul {

li {

a {
 color dark
 font-size 12px
 text-transform none
 margin-left -38px

span {

svg {
 color red
 width 10px
 margin-top -3px
}// svg

}// span

}// a

}// li

}// uk

}// ..uk-width-expand

}// header.uk-comment-header

.uk-comment-body {

p {
 color dark
 font-size 14px

span {
 color heida
}// span

}// p

}// .uk-comment-body

}// article.uk-comment

.uk-description-list {
 padding-top 50px

dt {

a {
 color dark
 text-decoration none

span {
 color heida
 font-size 18px

svg {
 width 16px
 margin-right 2px
}// svg

&.ny {
 font-size 18px
}// &.ny

}// span

}// a

}// dt

dd {
 margin-top -20px

a {
 color dark
 text-decoration none

span {
 color heida
}// span

}// a

}// dd

}// .uk-description-list

// topbar ///////////////
.topbar {
 background white
 margin-top 5px !important

nav.uk-navbar-container {
  background white !important
}

a.uk-button {
 border none
 padding 0
 margin-left 10px

span {

svg {
 width 28px
}// svg

}// span

}// a.uk-button

}// .topbar

.uk-navbar {

.uk-navbar-left {
 background white

.uk-navbar-nav {


.sidemnu {


}

li {

a {

}// a

}// li

.nuxt-link-active {

}// .nuxt-link-active

li.uk-active {

.navbar-brand {
 color dark
 font-size 15px
 font-weight 300
 text-transform none
 padding 0

span {
 color heida
}// span

}// .navbar-brand

}// li.active

}// .uk-navbar-nav

}// .uk-navbar-left

.uk-navbar-right {
 background white !important
 max-height 40px !important

.uk-navbar-nav {

// not signed it
&.notin {
 background dark
li {
 
a {

@media only screen and (max-width: 320px) {
 padding 0

}// below 320px

}//a 

}// li

}// &.notin

li {

a {
 color heida
 font-weight 500
 text-transform none
 margin-top -20px

@media only screen and (max-width: 414px) {
 margin-top -20px
 // margin-top 0

}// below 414px

&:hover {
 color red !important
}// &:hover

span {

svg {
 color dark
 width 12px
 margin-right 2px

}// svg

}// span

&.uk-link-reset {

img {
 margin-right 2px
}// img

}// &.uk-link-reset

}// a

}// li

}// .uk-navbar-nav

}// .uk-navbaar-right

}// .uk-navbar

}// .header