.lenda {

.uk-card {

.uk-card-header {

h3.uk-first-column {
 color gray
 font-size 14px
 padding-top 25px

span {


}// span

span.date {
 color llpurple
 font-size 16px
 font-weight 500

}// span.date

}// h3

article.uk-comment {

header.uk-comment-header {

.uk-width-auto {

img {

}// img

}// .uk-width-auto

.uk-width-expand {

h4 {
 color heida
 font-size 16px

span {

svg {
 color dark
 width 14px
 margin-top -5px
}// svg

}// span

}// h4

ul {

li {

a {
 color dark
 font-size 12px
 text-transform none
 margin-left -74px

@media only screen and (max-width: 320px) {
 margin-left -34px

}// below 320px 

span {

svg {
 color red
 width 10px
 margin-top -3px
}// svg

}// span

}// a

}// li

}// uk

}// .uk-width-expand

}// header.uk-comment-header

.uk-comment-body {

button {
 color dark

span {
 color heida

&.ny {
 color heida
}// &.ny

}// span

}// button

p {
 color dark
 font-size 14px

span {
 color heida
}// span

}// p

}// .uk-comment-body

}// article.uk-comment

}// .uk-card-header

.uk-card-body {
 padding-top 15px
 padding-bottom 10px

ul.uk-accordion {

li {

a.uk-accordion-title {
 color dark
 font-size 11px

&::before {

}// &::before

}// a.uk-accordion-title

.uk-accordion-content {

p {

}// p

}// .uk-accordion-content

}// li

}// ul.uk-accordion

}// .uk-card-body

.uk-card-footer {

}// .uk-card-footer

}// .uk-card

}// .lenda