.lenda {

.uk-card {

.uk-card-header {

h3.uk-first-column {
 color gray
 font-size 14px
 padding-top 25px

span {


}// span

span.date {
 color llpurple
 font-size 16px
 font-weight 500

}// span.date

}// h3

article.uk-comment {

header.uk-comment-header {

.uk-width-auto {

img {

}// img

}// .uk-width-auto

.uk-width-expand {

h4 {
 color llpurple
 font-size 16px

span {

svg {
 color dark
 width 14px
 margin-top -5px
}// svg

}// span

}// h4

ul {

li {

a {
 color dark
 font-size 12px
 text-transform none
 margin-left -74px

@media only screen and (max-width: 320px) {
 margin-left -34px

}// below 320px 

span {

svg {
 color red
 width 10px
 margin-top -3px
}// svg

}// span

}// a

}// li

}// uk

}// .uk-width-expand

}// header.uk-comment-header

.uk-comment-body {

button {
 color dark

span {
 color llpurple

&.ny {
 color llpurple
}// &.ny

}// span

}// button

p {
 color dark
 font-size 14px

span {
 color llpurple
}// span

}// p

}// .uk-comment-body

}// article.uk-comment

}// .uk-card-header

.uk-card-body {
 padding-top 15px
 padding-bottom 10px

ul.uk-accordion {

li {

a.uk-accordion-title {
 color dark
 font-size 11px

&::before {

}// &::before

}// a.uk-accordion-title

.uk-accordion-content {

p {

}// p

}// .uk-accordion-content

}// li

}// ul.uk-accordion

}// .uk-card-body

.uk-card-footer {

}// .uk-card-footer

// fundurlenda ////////////////////////////////////
.fundurlenda {

span {

.uk-card-header {

.uk-grid-small {

h3.uk-first-column {

span {

}//span

.uk-card-header {

.uk-grid-small {

.uk-width-expand {

h3.uk-card-title {

}// h3.uk-card-title

p.uk-text-meta {

span.date {

}// span.date

span {

svg {
 width 15px
 margin-bottom 4px
 margin-right 5px
}// svg

}// span

span.time {
 color llorange
}// span.time

}// p.uk-text-meta

}// .uk-width-expand

}// .uk-grid-small

}// .uk-card-header

.uk-card-body {

div {

.uk-first-column {

div {

span.uk-scrollspy-inview {

}// span.uk-scrollspy-inview

span.uk-align-right {

}// span.uk-align-right

}// div

div {

span.uk-align-right {

span {

&.vinna {
 background llpurple
 color white
 padding-left 2px
 padding-right 2px
}// &.vinna

&.skoli {
 background su
 color white
 padding-left 2px
 padding-right 2px
}// &.skoli

&.afingar {
 background llgreen
 color white
 padding-left 2px
 padding-right 2px
}// &.afingar

&.sundlaug {
 background lpurple
 color dark
 padding-left 2px
 padding-right 2px
}// &.sundlaug

}// span

// dagsetning ////////
span.uk-text-warning {

span.date {
 background llpurple
 color white
 font-size 13px
 text-transform uppercase
 padding-left 2px
 padding-right 2px
}// span.date

span.month {
 background gray
 color white
 font-size 13px
 text-transform uppercase
 padding-left 2px
 padding-right 2px
 margin-left -3px 
}// span.month

span.dag {
 background dark
 color white
 font-size 13px
 text-transform uppercase
 padding-left 2px
 padding-right 2px
 margin-left -3px

@media only screen and (max-width: 414px) {
 margin-left -4px

}// below 414px

}// span.dag

span.time {
 background llpurple
 color white
 font-size 13px
 margin-left -3px

@media only screen and (max-width: 414px) {
 margin-left -4px

}// below 414px

}// span.time

}// span.uk-text-warning

}// span.uk-align-right

}// div

}// .uk-first-column

}// div

}// .uk-card-body

}// h3.uk-first-column

}// .uk-grid-small

}// .uk-card-header

}// span

}// .fundurlenda

}// .uk-card

}// .lenda