@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.login {

.uk-background-cover {
 min-height 520px
 margin-top 80px

.uk-card {
 background rgba(llpurple .4)
 display block
 height 520px
 padding-left 60px
 padding-right 60px
 
 @media only screen and (min-width: 768px) {
  height auto
 
 }// above 768px

form {

fieldset.uk-fieldset {

legend.uk-legend {
 color llpurple !important
 text-shadow 1px 1px 1px dark 
}// legend.uk-legend

.uk-margin {

p {
 color white
 text-shadow 1px 1px 1px dark
 //padding-top 230px
a {

span.nyskra {
 color llpurple
 text-shadow 1px 1px 1px dark

}// span.nyskra

}// a

}// p

}// .uk-margin

}// fieldset.uk-fieldset

}// form

}// .uk-card

}// .uk-background-cover

}// .login