@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.valmoguleikar {

ul.uk-breadcrumb {
 background rgba(dark .1)

li {

a {

}// a

span  {
 color heida
}// span

}// li

}// ul.uk-breadcrumb

h1 {
 color gray
 font-size 28px
 font-weight 400
 padding 10px
 margin 0

span {
 color dark
 font-weight 400

&.maling {
 color heida
}// &.maling

}// span

}// h1

.uk-fieldset {
 
h1 {

&.nafn {
 background footer !important
 color white
 font-size 18px
 font-weight 300
 padding 5px
}// &.nafn

&.hitastig {
 background dark !important
 color silver
 font-size 18px
 font-weight 300
 padding 5px
 

}// &.hitastig

&.stada {
 background dark !important
 color silver
 font-size 18px
 font-weight 300
 padding 5px
 margin-top 25px
}// &.stada

&.test {
 background dark !important
 color silver
 font-size 18px
 font-weight 300
 padding 5px
 margin-top 25px
}// &.test

&.leid {
 background dark !important
 color silver
 font-size 18px
 font-weight 300
 padding 5px
 margin-top 25px
}// &.leid 

}// h1

div {

.hiti {

p {
 margin-bottom -25px

@media only screen and (max-width: 320px) {
 font-size 14px !important

}// below 320px

small {

&.laug {
 color llyellow
}// &.laug

&.kaldur {
 color llorange
}// &.kaldur

&.heitur {
 color red
}// &.heitur

span {
 color white

}// span 

}// small

span {

&.laug {
 color llyellow
}// &.laug

&.kaldur {
 color llorange
}// &.kaldur

&.heitur {
 color red
}// &.heitur  

}// span

.uk-input {
 border-bottom 3px solid rgba(gray .7)

}// .uk-input

}// p

}// .hiti

}// div grid

p {
 background gray
 color white
 border-left 2px solid rgba(pink .1)
 border-right 2px solid rgba(pink .1)
 border-bottom 1px solid rgba(pink .1)

.minnismidi {
 margin-top 10px

}// .minnismidi

}// p

p {
 background heida !important

}// p

.klormagn {
 margin-top -20px

p.klormagn {
 color heida
 border-left 2px solid heida
 border-right 2px solid heida
 border-bottom 1px solid heida
 padding 2px

.uk-input {
 display block
 width 100%

}// .uk-input

}// p

}// .klormagn

.starfsmadur {
 margin-top -20px

p.starfsmadur {
 color white
 text-align center
 border-left 2px solid heida
 border-right 2px solid heida
 border-bottom 1px solid heida

.uk-select {
 display block
 width 100%
 margin-top 5px

}// .uk-select

}// p

}// .starfsmadur

}// .uk-fieldset

form {

button {
 background heida
 color white
 font-weight 500
 margin-top -10px
 margin-bottom 30px
}// button

}// form

// klor postarnir
.klor {

.uk-table {

p {
 
}// p

caption {

&.date {
 background dark
 color white
 font-size 18px
 font-weight 500
 text-align center
 
}// &.date

&.minnismidi {

}// /.minnismidi

span.uk-icon  {
 
svg {
 color heida
 width 16px !important
 margin-top -2px !important
}// svg

}// span

}// caption

}// .uk-table

}// .klor

}// .valmoguleikar