@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.vinnutal {

.v-data-table {

.v-data-table__wrapper {

table {

thead.v-data-table-header {

tr {

th {

}// th

}// tr

}// thead.v-data-table-header

tbody {

tr.footer {

td {
 font-size 13px

&.dag {


}// &.dag

&.vakt {

}// /.vakt

&.dvinna {
 background llgreen
 color white
}// /.yvinna

&.yv {
 background llorange
 color white

}// /.yv

&.trjatiu {
 background llgreen
 color white
}// /.trjatiu

&.fimtiu {
 background llorange
 color white
}// &.fimtiu

&.sjotiu {
 background red
 color white
}// &.sjotiu

&.dvinnaday {
 background llgreen
 color white
}// &.dvinnaday

&.yvinnaday {
 background llorange
 color white
}// &.yvinnaday
 
&.samtalsdag {
 background llgreen
 color white
}// &.samtalsdag

&.samtalsyv {
 background llorange
 color white
}// &.samtalsyv

 &.alls {
  background dark
  color llgreen
 
 }// &.alls     

}// td

}// tr.footer

tr {

td {

i.v-icon {
 font-size 16px
}// i.v-icon

}// td

}// tr

}// tbody

}// table

}// .v-data-table__wrapper

.samtalsfooter {
 background dark
 color llgreen
 font-size 13px
 margin-right 60px

@media (max-width: 414px) {
 margin-right 10px

}// @media only screen and (max-width: 414px)

}// .samtalsfooter

}// .v-data-table

}// .vinnutal